<%= form_for(@slide, url: {action: @form_action}) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <dl>
  <dt><%= f.label :title %></dt>
  <dd><%= f.text_field :title, class: "login_inp required" %></dd>
  </dl>
  
  <dl>
  <dt><%= f.label :desc %></dt>
  <dd><%= f.text_area :desc, class: "login_inp1" %></dd>
  </dl>
  
  <dl>
  <dt><%= label_tag(:slide_image, "Upload File") %></dt>
  <dd><%= f.file_field :slide_image %></dd>
  </dl>
  
  <dl>
  <dt><%= f.label :published %></dt>
  <dd><%= f.check_box :published %></dd>
  </dl>
  
  <dl>
  <dt>&nbsp;</dt>
  <dd><%= f.submit "Submit", class: "login"  %></dd>
  </dl>
<% end %>
