<% content_for :page_title do %>
  <title>ArtistNXT | Admin Dashboard</title>
<% end %>

<div class="profiletitle">Dashboard</div>
<div class="clr">&nbsp;</div>


<div class="icon-wrapper">
    <div class="icon">
        <a href="<%=admin_artists_path %>">
            <img alt="" src="/assets/icon-48-user.png">
            <span>Artists</span>
        </a>
    </div>
    <div class="icon">
        <a href="<%=contents_path %>">
            <img alt="" src="/assets/icon-48-article.png">
            <span>Contents</span>
        </a>
    </div>
    <div class="icon">
        <a href="<%=admin_fans_path %>">
            <img alt="" src="/assets/icon-48-user.png">
            <span>Fans</span>
        </a>
    </div>
    <div class="icon">
        <a href="<%=admin_slides_path %>">
            <img alt="" src="/assets/icon-48-media.png">
            <span>Sliders</span>
        </a>
    </div>
    <div class="icon">
        <a href="<%=plans_path %>">
            <img alt="" src="/assets/icon-48-plans.png">
            <span>Plans</span>
        </a>
    </div>
    <div class="icon">
        <a href="<%=music_categories_path %>">
            <img alt="" src="/assets/icon-48-media.png">
            <span>Music Categories</span>
        </a>
    </div>
    <div class="icon">
        <a href="<%=admin_settings_path %>">
            <img alt="" src="/assets/icon-48-config.png">
            <span>Settings</span>
        </a>
    </div>
</div>