<% content_for :page_title do %>
  <title>ArtistNXT | Slides Manager</title>
<% end %>

<div class="profiletitle">Slides Manager</div>
<div class="clr">&nbsp;</div>

<div class="searchWrap">
	<div class="searchbox">
                <form id="searchForm" name="searchForm" action="" method="get">
                  <div class="searchboxinner">
                    <input type="text" name="search" class="textbox1" value="<%=h(@search)%>"/>
                    <input type="submit" value="Search" class="btn"/>
                    <input style="margin-left:4px;" type="button" class="btn" value="Reset" onclick="document.searchForm.search.value='';document.searchForm.submit();">
                  </div>
                </form>		
	</div>
	<div class="add-new"><%= link_to 'Add New', new_slide_path %></div>
	<div class="clr">&nbsp;</div>
</div>
<div class="tableWrap">
  <form id="dataFormSlide" name="dataFormSlide" action="" method="post">
  <div class="table-responsive">
    <table class="table">
           <thead>
                  <tr>
                    <th style="width: 50px;">#</th>
                    <th>Slide</th>
                    <th>Title</th>
                    <th style="width: 125px;">Published</th>
                    <th style="width: 125px;">Ordering<a href="javascript:void(0);" onclick="saveOrdering();"><%= image_tag("/assets/filesave_icon.png") %></a></th>
                    <th style="width: 150px;">Action</th>
                  </tr>
           </thead>
           <tbody>
                  <%                    
                    slideNo = 0
                    if params[:page].to_i > 1
		      slideNo = (params[:page].to_i - 1)*10
                    end
                    @slides.each do |slide|
                    slideNo = slideNo + 1
                  %>
                    <tr>
                      <td><%=slideNo%></td>
                      <td>
                        <%if slide.slide_image.to_s!=""
                        %>
                          <%= image_tag(slide.slide_image, :width=>125) %>
                        <%
                        else
                        %>
                          <%= image_tag("/assets/no_slider_image.png") %>
                        <%
                          end
                        %>
                      </td>
                      <td><%= link_to slide.title.html_safe, slide_path(slide) %></td>
                      <td>
                        <%if slide.published
                        %>
                          <img src="/assets/tick_green_icon.png" alt="" />
                        <%
                          else
                        %>
                          <img src="/assets/unpublish_icon.png" alt="" />
                        <%
                          end
                        %>
                        
                      </td>
                      <td><input type="text" name="ordering[<%=slide.id%>]" class="order_input" value="<%= slide.ordering.to_i %>"/></td>
                      <td>
                          <%= link_to image_tag("/assets/edit_icon.png"), edit_slide_path(slide) %>                          
                          &nbsp;&nbsp;&nbsp;
                          <%= link_to image_tag("/assets/delete_icon.png"), slide_path(slide),method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>                  
           </tbody>
    </table>
    </div>
    <%= will_paginate @slides, :params=>{:search=>h(@search)} %>
  </form>
</div>
<script type="text/javascript">
function saveOrdering()
{
  if(jQuery('.order_input').length > 0)
  {    
    jQuery('#dataFormSlide').attr('action','<%=slides_save_ordering_path%>').submit();
  }
}
</script>