<% content_for :page_title do %>
  <title>ArtistNXT | Listing News</title>
<% end %>

<div class="contenttitle_area">
        <h2 class="logintitle2">News Details</h2>
</div>
<%@mobile_device_class=""%>
<%= render :partial => 'profile/index_left' %>
<div class="rightpartWrap col-md-10"> <!-- rightpartWrap start -->
        <div class="rightPart clearfix"> <!-- rightPart start -->
                <div class="contentCol col-md-9"> <!-- contentCol start -->
                        <div class="content">
                          <div class="newsdescription clearfix">
                            <div class="titleWrap clearfix">
                              <label>Title::</label>
                              <div class="title_name"><%= @news.title %></div>
                            </div>
                            <div class="des_wrap clearfix">
                              <label>Description:</label>
                              <div class="des_details">
                                <%= @news.desc %>
                              </div>
                            </div>
                            <div class="newsdes_link clearfix">
                              <div class="left_side_links">
                                <ul>
                                <li><%= link_to 'Edit', edit_user_news_path(@user, @news) %></li>
                                <li><%= link_to 'Delete', user_news_path(@user, @news), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                </ul>
                              </div>
                              <div class="right_side_link">
                                <%= link_to 'Back', user_news_index_path %>
                              </div>
                            </div>
                          </div>

                        </div>
                </div> <!-- contentCol end -->
                <%= render :partial => 'profile/index_right' %>
        </div> <!-- rightPart end -->
</div> <!-- rightpartWrap end -->
<%@mobile_device_class=" mobile_device"%>
<%= render :partial => 'profile/index_left' %>