<% content_for :page_title do %>
  <title>ArtistNXT | Music Cart Checkout</title>
<% end %>
<div class="contentCol">
    <div class="content">
        <h2 class="logintitle2">Cart Checkout</h2>
        <div class="music_cart_wrap">
        <div class="table-responsive"> 
        <table cellpadding="0" cellspacing="0" border="0" class="table cart-table">
            <thead>
              <tr>          
                <th>Product Name</th>
                <th width="15%">Artist</th>
                <th>SubTotal</th>
                <th></th>
              </tr>
            </thead>
          
            <tbody>
              <% totalPrice = 0.00;
                @cart.cart_items.each do |item|
                totalPrice = (totalPrice + item.product_final_price)
              %>
                <tr>            
                  <td><%= item.product_name %></td>
                  <td width="15%">
                      <%=getMusicsArtistName(item.product_id,true)%>
                  </td>
                  <td>$<%= number_with_precision(item.product_final_price, precision: 2) %></td>
                  <td><%= link_to  image_tag("/assets/del.png") , item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
                <tr class="price-row">
                  <td width="15%">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="pricelabel" align="right">Product price result:</td>
                  <td class="price">$<%=number_with_precision(totalPrice, precision: 2)%></td>          
                </tr>        
            </tbody>
          </table>
          </div>
          
          <form name="checkoutConfirm" id="checkoutConfirm" action="<%=cart_confirm_path%>" method="post">
              <div class="cart-comment">
                  <textarea name="customer_note" id="customer_note" placeholder="Your note" class="form-control"></textarea>
              </div>
              
              <div class="checkoutbutton">                  
                  <input type="submit" value="Confirm" class="checkoutbuttonwrap submit btn">  
              </div>
          </form>
        
        </div>
    </div>	
</div>