<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @cart_item.cart_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart_item.product_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @cart_item.product_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cart_item.quantity %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @cart_item.product_price %>
</p>

<p>
  <strong>Product final price:</strong>
  <%= @cart_item.product_final_price %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item) %> |
<%= link_to 'Back', cart_items_path %>
