<% content_for :page_title do %>
  <title>ArtistNXT | Plans Manager</title>
<% end %>

<div class="profiletitle">Plans Manager</div>
<div class="clr">&nbsp;</div>

<div class="searchWrap">
	<div class="searchbox">
                <form id="searchForm" name="searchForm" action="" method="get">
                  <div class="searchboxinner">
                    <input type="text" name="search" class="textbox1" value="<%=h(@search)%>"/>
                    <input type="submit" value="Search" class="btn"/>
                    <input style="margin-left:4px;" type="button" class="btn" value="Reset" onclick="document.searchForm.search.value='';document.searchForm.submit();">
                  </div>
                </form>		
	</div>
	<div class="add-new"><%= link_to 'New Plan', new_plan_path %></div>
	<div class="clr">&nbsp;</div>
</div>
<div class="tableWrap">
  <form id="dataFormItem" name="dataFormItem" action="" method="post">
  <div class="table-responsive">
    <table class="table">
           <thead>
                  <tr>
                    <th style="width: 50px;">#</th>
                    <th>Name</th>
                    <th>Is free</th>
                    <th>Price</th>
                    <th>Duration</th>                    
                    <th style="width: 125px;">Published</th>
                    <th style="width: 125px;">Ordering<a href="javascript:void(0);" onclick="saveOrdering();"><%= image_tag("/assets/filesave_icon.png") %></a></th>
                    <th style="width: 150px;">Action</th>
                  </tr>
           </thead>
           <tbody>
                  <%
                    itemNo = 0
                    @plans.each do |plan|
                    itemNo = itemNo + 1
                  %>
                    <tr>
                      <td><%=itemNo%></td>
                      <td>
                        <%=link_to plan.name, plan%>
                      </td>
                      <td><%=plan.is_free ? 'Yes' : 'No' %></td>
                      <td><%= plan.price %></td>
                      <td>
                      <%if !plan.is_free
                      %>
                        <%=formatDuration(plan.period,plan.period_unit)%>
                      <%
                      else
                      %>
                        Lifetime
                      <%
                        end
                      %>
                      </td>
                      
                      <td>
                        <%if plan.published
                        %>
                          <img src="/assets/tick_green_icon.png" alt="" />
                        <%
                          else
                        %>
                          <img src="/assets/unpublish_icon.png" alt="" />
                        <%
                          end
                        %>
                        
                      </td>
                      <td><input type="text" name="ordering[<%=plan.id%>]" class="order_input" value="<%= plan.ordering.to_i %>"/></td>
                      <td>
                          <%= link_to image_tag("/assets/edit_icon.png"), edit_plan_path(plan) %>                          
                          &nbsp;&nbsp;&nbsp;
                          <%= link_to image_tag("/assets/delete_icon.png"), plan, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>                  
           </tbody>
    </table>
    </div>
    <%= will_paginate @plan, :params=>{:search=>h(@search)} %>
  </form>
</div>
<script type="text/javascript">
function saveOrdering()
{
  if(jQuery('.order_input').length > 0)
  {    
    jQuery('#dataFormItem').attr('action','<%=plans_save_ordering_path%>').submit();
  }
}
</script>
