<% content_for :page_title do %>
  <title>ArtistNXT | Fan following Page</title>
<% end %>
<%@mobile_device_class=""%>
<%= render :partial => 'profile/index_left' %>
<div class="rightpartWrap col-md-10"> <!-- rightpartWrap start -->
        <div class="rightPart clearfix"> <!-- rightPart start -->
                <div class="contentCol col-md-9"> <!-- contentCol start -->
                        <div class="content">
                                <!-- artist following start -->
				
                                <div class="fanfollowingWrap">
                                        <div class="profiletitle">My Friends (<span><%=@myFriendsTotal%></span>)</div>
                                        <%
                                        @myFriends.each {|friendRow|					
					if !friendRow.sender_id.to_i.eql?(current_user.id)
					  fan = getUserByID(friendRow.sender_id)
					else
					  fan = getUserByID(friendRow.receiver_id)
					end 					  
                                        user_name = fan.first_name + " " + fan.last_name                                        
                                        profileLink = fan_dashboard_path(id: fan.id.to_s+':'+user_name.parameterize)
                                        
                                      %>
                                        <div class="fanfollowing clearfix">
                                                <div class="folloimage col-md-3 col-sm-3">
                                                      <%= link_to image_tag(getUserAvatar(fan,'large'),:width => "154"), profileLink %>                                                          
                                                </div>
                                                <div class="folloinfo col-md-9 col-sm-9">
                                                <div class="follow_des">
                                                        <%= link_to user_name, profileLink %>							
                                                        <span>From: <%=getFormattedLocation(fan)%></span>
							<%= link_to "Remove Friend", remove_friend_path(:sender_id=>current_user.id,:receiver_id=>fan.id,:return_url=>Base64.encode64(my_friends_path))%>
                                                </div>
                                                <%= link_to "View Profile", profileLink,:class=>"viewprofile" %>
                                                </div>
                                        </div>
                                      <%
                                      }%>
                                        <%= will_paginate @myFriends, :previous_label => 'Prev', :next_label => 'Next' %>
                                </div>

                                <!-- artist following end -->
                        </div>
                </div> <!-- contentCol end -->
                <%= render :partial => 'profile/index_right' %>
        </div> <!-- rightPart end -->
</div> <!-- rightpartWrap end -->
<%@mobile_device_class=" mobile_device"%>
<%= render :partial => 'profile/index_left' %>