<% content_for :page_title do %>
  <title>ArtistNXT | My Purchase details</title>
<% end %>

<%= render :partial => 'index_left' %>

<div class="contentleft2homemain">
  <div class="contetnhomeiiner">
    <div class="profiletitle">My Purchase details</div>
    <div class="profile_2">
      
      <%if @myPurchasDetails.order_items != nil %>
        <table cellpadding="0" cellspacing="0" border="0" class="table">
          <thead>
            <tr>          
              <th>Product Name</th>
              <th width="15%">Artist</th>
              <th>SubTotal</th>
              
            </tr>
          </thead>
        
          <tbody>
            <%
              totalPrice = 0.00;
              @myPurchasDetails.order_items.each do |item|
              totalPrice = (totalPrice + item.product_final_price.to_f)
              %>
              <tr>            
                <td><%= item.product_name %></td>
                <td width="15%">
                    <%=getMusicsArtistName(item.product_id,true)%>
                </td>
                <td>$<%= number_with_precision(item.product_final_price, precision: 2) %></td>                                
              </tr>
            <% end %>
              <tr class="price-row">
                <td width="15%">&nbsp;</td>
                <td></td>
                <td class="pricelabel" align="right">$<%=number_with_precision(totalPrice, precision: 2)%></td>
              </tr>
          </tbody>
        </table>
        <%if @myPurchasDetails.order_status == 0%>
          <div class="checkoutbuttonWrap">    
              
              <div class="checkoutbutton">
                  <%= link_to 'Pay now'.html_safe, pay_my_order_path(:id=>@myPurchasDetails.order_number) %>           
              </div>
              <div class="clearfix"></div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
  
  <%= render :partial => 'index_right' %>
  
</div>