<%= form_for(@admin_news) do |f| %>
  <% if @admin_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_news.errors.count, "error") %> prohibited this admin_news from being saved:</h2>

      <ul>
      <% @admin_news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <dl>
    <dt><%= f.label :title %></dt>
    <dd><%= f.text_field :title, class: "login_inp required" %></dd>
  </dl>
  
  <dl>
    <dt><%= f.label :text %></dt>
    <dd><%= f.text_area :text, class: "login_inp1"  %></dd>
  </dl>
  
  <dl>
    <dt><%= f.label :published %></dt>
    <dd><%= f.check_box :published %></dd>
  </dl>
  
  <%= f.hidden_field :created_by, value: current_user.id %>
  <%= f.hidden_field :updated_by, value: current_user.id %>
  
  <dl>
    <dt>&nbsp;</dt>
    <dd><%= f.submit "Submit", class: "login"  %></dd>
  </dl>
  
<% end %>
